{% extends 'base.html'%}

<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target=".navbar-collapse"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"><br />"icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <a class="navbar-brand" href="#">
      <h2 style="color: green; align-items: center; padding: 30px">
        See more News
      </h2>
    </a>
  </div>
  {% endfor%}

  <div class="banner">
    <span>
      <h2
        style="
          color: red;
          text-align: center;
          padding-top: 200px;
          font-style: italic;
        "
      >
        Welcome to News App. All your news in one one place
      </h2></span
    >
  </div>
</div>
